<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <%= link_to "decision app", root_path%> is a web application that utilizes data from a user to produce an illustrated decision-making guide.
</p>
